/* CSS for the index page */
.navi {
  background-color: #032f3e;
  margin-bottom: 0;
}
.navi h5 {
  font-family: 'Alex Brush', cursive;
  font-size: 28px;
  color: #1fff0c;
  font-weight: 400;
}
.navi nav a {
  font-size: 16px;
  font-weight: 400;
}
.navi li:hover {
  border-bottom: 2px solid #455a64;
}

main section .main-layout {
  min-height: 100vh;
  background-image: url("../images/people-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% -108px;
}

section .main-heading .fly-in {
  list-style: none;
  text-align: center;
}

section .main-heading .fly-in li {
  font-size: 3rem;
  font-family: 'Roboto';
  color: #032f3e;
  display: inline-block;
  padding: 7rem 2rem 1.9rem 2rem;
}

section .main-text p {
  font-size: 2.25rem;
  font-weight: 300;
  width: 90%;
  margin: 50px auto 20px auto;
  padding-top: 1rem;
  color: #182242;
}

.main-layout .btn {
  background-color: #032f3e;
  color: #FFF;
  border-radius: none;
  margin-top: 100px;
  padding-bottom: 10px;
}

section .main-service {
  min-height: 65vh;
}

section .main-service h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 40px 0 20px 0;
}

section .main-service h2 {
  padding: 20px 0;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

section .info-text p {
  width: 300px;
  text-align: center;
}

section .call4action .one {
  height: 300px;
  background-image: url("../images/johannesburg.jpg");
  background-position: 0 -150px;
  background-size: cover;
  background-attachment: fixed;
}

section .call-heading h1 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 117px;
}

section .call-text p {
  font-size: 20px;
  text-align: center;
  color: #FFF;
}

section .call4action .two {
  height: 150px;
  background-color: #101010;
  padding-top: 20px;
  border-top: 2px solid #032f3e;
}

section .action-heading h3 {
  color: #FFF;
  text-align: center;
}

section .accredit {
  height: 200px;
}
section .accredit .accred h3{
  font-size: 25px;
  text-align: center;
  padding: 20px 0;
}
footer .main-foot {
  min-height: 20%;
  background-color: #032f3e;
  padding-top: 20px;
}

footer .main-foot p {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
}

footer .foot-text-3 a {
  font-size: 10px;
}

.fa-facebook-square:hover {
  color: #1fff0c;
}
.fa-twitter:hover {
  color: #1fff0c;
}
.fa-linkedin-in:hover {
  color: #1fff0c;
}

/* Services Page */
section .service-page {
  min-height: 100vh;
}

section .service-heading h1 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding: 40px 0 20px 0;
  font-family: 'Roboto', san-sans-serif;
}

section .service-text p {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

section .serv-btn {
  text-align: center;
  padding-top: 40px;
}

section .service-page .btn {
  background-color: #032f3e;
  color: #FFF;
  margin-bottom: 40px;
}

section .serv_tog h1 {
  text-align: center;
  margin-left: 2rem;
}

section .serv_tog img {
  margin-left: 10.5rem;
  margin-top: 3rem;
}

section .serv_tog #block_2 img {
  margin-top: 1rem;
}

.serv_tog p {
  text-align: center;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.serv_tog li {
  text-align: center;
  margin-left: 1rem;
}

section .info_two {
  text-align: left;
  padding-top: 2rem;
  padding-right: 5rem;
  padding-bottom: 20px;
}

/* Contact Page */
section .contact-page .cont-heading h1 {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 40px 40px 20px 40px;
}

section .contact-page .cont-text p {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-bottom: 20px;
}

section .contact-page input {
  width: 500px;
  border-color: #1458D7;
}

section .contact-page textarea {
  width: 500px;
  border-color: #1458D7;
}

section form {
  margin: 0 0 50px 200px;
}

section .contact-page .contact-info {
  width: 400px;
  text-align: center;
  padding-left: 100px;
  padding-top: 20px;
}

section .about-page {
  min-height: 100vh;
}

section .about-page .about-heading {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 40px;
}

section .about-page .about-info p {
  font-size: 20px;

  text-align: center;
}

.btn:hover {
  background-color: #1fff0c;
  border-color: #1fff0c;
  color: #fff;
}

section .serv-btn .btn:hover {
  background-color: #1fff0c;
  border-color: #1fff0c;
  color: #fff;
}

/* mobile responsive css */
@media (max-width: 800px) {
  section .main-heading .fly-in li {
    font-size: 2.5rem;
    padding: 10rem 1.5rem 1.9rem 2rem;
  }
  section .service-page {
    padding-top: 4rem;
  }
  section .service-text p {
    padding-top: 2rem;
  }
  section .serv-btn {
    padding-top: 4rem;
  }
  section .serv_tog #block_2 {
    padding-top: 4rem;
  }
  section .contact-page .contact-info {
    margin-left: 10rem;
    margin-bottom: 2rem;
}
@media (max-width: 768px) {
  section .main-service h1 {
    font-size: 2.5rem;
    margin: -3.5rem 0 2rem 0;
  }
  section .main-text p {
    font-size: 2rem;
    padding-top: 10%;
  }
  section .serv-btn {
    padding-top: 2rem;
  }
  .main-layout .btn {
    padding-top: 0;
  }
  section .service-page {
    padding-top: 2rem;
  }
  section .service-text p {
    padding-top: 0rem;
  }

  section form {
    margin: 0 0 0 9rem;
  }

  section .contact-page .contact-info {
    margin-left: 9rem;
  }
}
@media (max-width: 414px) {
  section .main-heading .fly-in {
    padding: 3rem 0 0 0;
    margin: 0;
  }
    section .main-heading .fly-in li {
      font-size: 2rem;
      padding: 0;
      display: block;
    }
    section .main-text p {
      padding-top: 0;
      margin-top: 3rem;
    }
    .main-layout .btn {
      padding-top: 10px;
      margin-top: 20%;
    }
    section .call4action .one {
      height: 35vh;
    }

    section .call-heading h1 {
      padding-top: 3.5rem;
    }

    section .call4action .two {
      height: 25vh;
    }
    section .service-heading h1 {
      font-size: 2rem;
    }
    section .service-text p {
      font-size: 1.5rem;
      width: 60%;
      margin: 0 auto;
    }
    section .serv_tog img {
      margin-left: 1rem;
    }
    .serv_tog #block_1 p {
      text-align: center;
      margin-left: 1rem;
    }
    .serv_tog #block_2 p {
      text-align: center;
      margin-left: 3.5rem;
    }
    section .contact-page .cont-heading h1 {
      font-size: 2rem;
    }
    section .contact-page .cont-text p {
      font-size: 1.5rem;
      width: 80%;
      margin: 0 auto;
    }
    section form {
      margin-left: 4.5rem;
    }
    section .contact-page input {
      width: 80%;
    }
    section .contact-page textarea {
      width: 80%;
    }
    section .contact-page .contact-info {
      margin-left: -2rem;
    }
}
@media (max-width: 375px) {
    .main-layout .btn {
      margin-top: 2rem;
    }
    section .info_one img {
      display: none;
    }
    section .info_two img {
      display: none;
    }
    section .serv_tog #block_2 {
      margin-top: -4rem;
    }
    section .contact-page .contact-info {
      margin-left: -4rem;
    }
}
@media (max-width: 360px) {
  /* Landing page */
  section .main-heading .fly-in {
    padding-top: 5rem;
  }
  .navi li a {
    text-align: center;
  }
  section .main-text p {
    font-size: 1.25rem;
    font-weight: 450;
    text-align: center;
    width: 300px;
    margin-top: 5rem;
  }
  .main-layout .btn {
    margin-top: 5rem;
  }
  main section .main-layout {
    background-position: 50% -20px;
  }
  section .main-service h1 {
    font-size: 30px;
    font-weight: 500;
    margin: 2rem 0;
  }
  section .serv-info-text p {
    font-size: 20px;
    margin-top: 20px;
  }
  section .main-service .info-text p {
    font-size: 15px;
    width: 250px;
    margin-bottom: 25px;
  }
  section .call4action .one {
    height: 200px;
    background-image: none;
    background-color: #999;
  }
  section .call-heading h1 {
    font-size: 25px;
    padding: 35px 0 20px 0;
  }
  section .accredit {
    height: 200px;
  }
  section .action-heading h3 {
    font-size: 20px;
  }
  footer .main-foot {
    min-height: 25vh;
  }
  footer .main-foot .foot-text-2, footer .main-foot .foot-text-3 {
    margin-top: -40px;
  }
  /* Service page */
  section .service-heading h1 {
    font-size: 25px;
    padding-top: 0;
    margin-top: 20px;
  }
  section .service-text p {
    font-size: 20px;
    margin-top: -10px;
  }
  section .serv-btn {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 150px;
    margin: 2rem auto;
  }
  section .serv-btn .btn-2, section .serv-btn .btn-3 {
    margin-top: -30px;
  }
  section .info_one {
    width: 100%;
    padding: 0;
  }
  section .info_two {
    width: 100%;
    padding: 0;
  }
  section .info_one h1{
    font-size: 25px;
    margin-top: -20px;
    margin-left: 1.8rem;
    width: 300px;
  }
  section .info_two h1{
    font-size: 25px;
    text-align: center;
    margin-top: -15px;
    margin-left: -0.1rem;
  }
  section .info_two p{
    font-size: 15px;
    font-weight: 600;
    margin-right: 2.5rem;
  }
  section .info_one p{
    font-size: 15px;
    font-weight: 600;
    padding-left: 2rem;
    padding-right: 2.5rem;
  }
  section .info_two ul{
    width: 300px;
    text-align: center;
    list-style:none;
  }
  section .info_one ul{
    width: 300px;
    text-align: center;
    list-style:none;
  }
  section .info_one img {
    display: none;
  }
  section .info_two img {
    display: none;
  }
  /* Contact page */
  section .contact-page .cont-heading h1 {
    font-size: 25px;
    padding: 20px;
  }
  section .contact-page .cont-text p {
    font-size: 18px;
    padding-left: 4rem;
    text-align: center;
    margin: -10px auto auto 0;
  }
  section form {
    margin: 1rem;
  }
  section .contact-page input {
    width: 280px;
    margin-left: 5%;
  }
  section .contact-page label {
    margin-left: 5%;
  }
  section .contact-page small {
    margin-left: 5%;
  }
  section .contact-page textarea {
    width: 280px;
    margin-left: 5%;
  }
  section .contact-page .btn {
    margin-left: 5%;
  }
  section .contact-page .contact-info {
    padding-left: 8rem;
    width: 100%;
  }
  section .contact-page h2 {
    font-size: 25px;
    padding: 20px 0;
  }
  section .contact-page contact-text {
    font-size: 18px;
    width: 280px;
    margin: 0 auto;
    padding: 5px 0 20px 0;
  }
}
